# **TRABAJO FINAL, TIPO C**

**CÀTEDRA: Programación**

**DOCENTE: Ing. Diego Rodriguez**

**ALUMNA: Laura Argemi**

![WhatsApp Image 2020-11-13 at 18.28.32.jpeg]()

**INTRODUCCIÓN**

Al comenzar a plantearme como abordar este trabajo, además del material visto en clase, comencé a investigar herramientas por fuera que pudieran brindar una mejor ejecución para grandes grupos de datos. Y fue ahí que me tope con Pandas, una librería que permite utilizar los datos como arreglos multidimensionales o matrices. Por eso elegí esa librería como la principal herramienta. No sabía nada de la misma, por lo cual también tuve que investigar bastante para poder utilizarla con el fin de dar con la resolución del trabajo.

**DESARROLLO**

Como establecí en el texto introductorio, pasé por varios momentos del código. Identifiqué los requerimientos para poder plantear, decodificando la necesidad de desarrollar 3 funciones promedio: una para el promedio anual, otro para el promedio mensual general, y otra para el promedio estacional. A continuación se mostrará el código documentado

**Precipitaciones**

*Importamos la librerìa pandas y tambièn la librerìa io que nos permite ver las entradas y salidas del código. A su vez, llamamos a upload para que pueda subirle nuestro archivo csv. En esta primera instancia el archivo es el de precipitaciones*

In [21]:
import pandas as pd
import csv

In [22]:
df=pd.read_csv('//content/drive/My Drive/Colab Notebooks/historico_precipitaciones.csv')

*Aqui establecemos la lectura del archivo convirtiéndolo en un dataframe, es decir, en un arreglo multidimensional*

*Probamos si los datos se cargaron bien utilizando la función head que imprime los primeros 5 datos de mi matriz*

In [123]:
df.head()

    año      mes     mm  días
0  1991    Enero  190.0     7
1  1991  Febrero   30.5     6
2  1991    Marzo   55.0     8
3  1991    Abril  125.6    12
4  1991     Mayo   68.4     7

*Con el siguiente comando podemos saber la cantida de filas y columnas del dataframe*

In [146]:
df.shape

(354, 4)

*Preguntamos que tipo de datos tienen*

In [145]:
df.dtypes

año       int64
mes      object
mm      float64
días      int64
dtype: object

*Con el comando unique vemos cuantos datos hay y las posiciones en la columna milímetros*

In [ ]:
pd.unique(df['mm'])

array([1.900e+02, 3.050e+01, 5.500e+01, 1.256e+02, 6.840e+01, 1.197e+02,
       8.930e+01, 6.640e+01, 8.550e+01, 1.317e+02, 9.240e+01, 2.440e+02,
       1.119e+02, 3.680e+01, 1.160e+02, 1.100e+02, 1.895e+02, 9.890e+01,
       4.650e+01, 7.780e+01, 6.790e+01, 1.357e+02, 8.910e+01, 1.389e+02,
       1.225e+02, 1.352e+02, 9.850e+01, 2.004e+02, 1.097e+02, 1.325e+02,
       3.910e+01, 5.050e+01, 3.880e+01, 1.703e+02, 2.158e+02, 1.474e+02,
       7.330e+01, 5.010e+01, 1.345e+02, 2.099e+02, 1.017e+02, 5.190e+01,
       7.370e+01, 3.940e+01, 2.420e+01, 1.271e+02, 2.720e+01, 1.241e+02,
       4.930e+01, 7.080e+01, 1.515e+02, 1.711e+02, 1.820e+01, 2.730e+01,
       2.870e+01, 4.300e+00, 3.190e+01, 1.188e+02, 1.185e+02, 7.480e+01,
       4.880e+01, 1.050e+02, 2.550e+01, 1.420e+02, 3.250e+01, 9.100e+00,
       2.160e+01, 6.700e+01, 1.207e+02, 9.730e+01, 1.260e+02, 1.642e+02,
       8.200e+01, 2.400e+01, 8.370e+01, 1.230e+02, 8.730e+01, 2.830e+01,
       9.420e+01, 1.350e+01, 1.355e+02, 1.232e+02, 2.964e+02, 1.468e+02,
       1.001e+02, 1.190e+02, 7.200e+01, 2.510e+01, 9.600e+01, 1.700e+01,
       3.930e+01, 3.760e+01, 8.860e+01, 1.599e+02, 1.883e+02, 1.970e+02,
       1.556e+02, 5.230e+01, 4.720e+01, 1.610e+01, 1.189e+02, 1.035e+02,
       7.260e+01, 3.640e+01, 4.070e+01, 5.510e+01, 6.900e+01, 7.110e+01,
       1.796e+02, 3.624e+02, 1.473e+02, 4.890e+01, 1.374e+02, 1.490e+02,
       9.300e+01, 3.375e+02, 1.206e+02, 3.145e+02, 4.810e+01, 9.990e+01,
       8.130e+01, 4.690e+01, 1.685e+02, 5.260e+01, 2.625e+02, 1.630e+02,
       5.620e+01, 1.024e+02, 6.020e+01, 2.746e+02, 1.734e+02, 2.170e+02,
       3.750e+01, 1.151e+02, 1.223e+02, 9.070e+01, 1.156e+02, 2.033e+02,
       1.831e+02, 4.033e+02, 8.770e+01, 7.550e+01, 6.750e+01, 5.440e+01,
       8.220e+01, 2.820e+01, 1.070e+02, 6.500e+01, 2.300e+02, 1.588e+02,
       2.684e+02, 3.180e+01, 2.810e+01, 2.285e+02, 9.910e+01, 2.010e+01,
       4.620e+01, 6.030e+01, 2.280e+01, 6.870e+01, 9.580e+01, 1.181e+02,
       1.502e+02, 8.010e+01, 1.554e+02, 1.452e+02, 1.160e+01, 9.170e+01,
       6.260e+01, 1.952e+02, 3.620e+01, 6.850e+01, 3.460e+01, 2.460e+02,
       2.214e+02, 1.540e+02, 6.880e+01, 5.500e+00, 7.830e+01, 5.880e+01,
       4.100e+00, 2.900e+01, 5.600e+01, 9.530e+01, 1.454e+02, 3.171e+02,
       1.982e+02, 4.220e+01, 5.290e+01, 1.110e+01, 1.068e+02, 1.792e+02,
       5.770e+01, 1.116e+02, 9.470e+01, 1.209e+02, 7.000e+00, 5.990e+01,
       4.630e+01, 1.900e+01, 2.240e+01, 8.580e+01, 9.110e+01, 2.390e+01,
       1.341e+02, 1.687e+02, 3.900e+01, 4.760e+01, 2.080e+01, 1.297e+02,
       2.680e+01, 1.344e+02, 2.340e+02, 2.112e+02, 1.541e+02, 1.535e+02,
       4.210e+02, 1.020e+02, 9.200e+01, 1.250e+02, 5.360e+01, 1.052e+02,
       2.440e+01, 1.311e+02, 4.250e+01, 5.910e+01, 4.200e+01, 1.650e+02,
       1.350e+02, 3.510e+01, 1.093e+02, 4.380e+01, 1.354e+02, 1.096e+02,
       2.450e+01, 6.630e+01, 4.700e+01, 4.740e+01, 2.450e+02, 1.565e+02,
       9.740e+01, 9.900e+00, 2.600e+01, 2.299e+02, 8.430e+01, 2.887e+02,
       1.377e+02, 2.593e+02, 5.250e+01, 1.154e+02, 8.030e+01, 2.750e+02,
       9.800e+00, 9.160e+01, 1.930e+01, 1.920e+02, 3.140e+01, 8.300e+00,
       2.688e+02, 2.548e+02, 1.821e+02, 1.275e+02, 1.466e+02, 1.361e+02,
       1.671e+02, 2.474e+02, 2.790e+02, 9.180e+01, 1.844e+02, 3.860e+01,
       1.840e+01, 7.030e+01, 6.910e+01, 6.940e+01, 2.537e+02, 3.380e+01,
       2.320e+02, 5.540e+01, 3.490e+01, 1.940e+02, 4.910e+01, 2.328e+02,
       4.260e+01, 1.827e+02, 5.800e+01, 1.611e+02, 8.950e+01, 9.040e+01,
       1.088e+02, 1.456e+02, 8.570e+01, 1.410e+02, 4.000e-01, 1.213e+02,
       7.320e+01, 7.380e+01, 3.500e+01, 9.520e+01, 3.980e+01, 7.010e+01,
       2.635e+02, 2.166e+02, 6.600e+00, 1.253e+02, 5.430e+01, 1.117e+02,
       3.200e+01, 3.142e+02, 1.348e+02, 1.040e+02, 5.120e+01, 1.794e+02,
       4.900e+01, 6.890e+01, 1.854e+02, 9.400e+01, 1.427e+02, 5.280e+01,
       6.620e+01, 1.583e+02, 8.720e+01, 2.260e+01, 8.920e+01])

*Para llegar a estas dos líneas pase por muchas otras en un borrador. En la primera se guarda en precipitaciones todos los datos de los milímetros de precipitación. Luego en la segunda línea se establece que cada 12 filas haga un promedio, siendo asì la versión reducida del promedio año a año. Para eso me sirvo del atributo groupby que hace agrupaciones, y del index que trabaja con los ìndices de la fila. la instrucción en si es que agrupe las filas cada 12 y haga un promedio. En el año 2020 solo hay cargados 6 meses, ya que es el año que al hacer el trabajo estamos transcurriendo. En el momento que se actualicen los datos en el histórico podra ser mas certero el valor del promedio del 2020*

In [ ]:
precipitaciones=df['mm']
precipitaciones.groupby(df.index//12).mean()

0     108.208333
1     101.583333
2     121.725000
3      86.425000
4      72.100000
5      76.791667
6     104.608333
7      84.783333
8      90.308333
9     136.291667
10    145.966667
11    135.150000
12    128.558333
13     90.658333
14     90.475000
15    106.775000
16    109.425000
17     60.175000
18    110.358333
19    112.616667
20     77.233333
21    137.550000
22     95.450000
23    165.283333
24     96.400000
25    102.000000
26     99.408333
27    122.741667
28    100.650000
29     79.383333
Name: mm, dtype: float64

*Ahora sacamos el promedio de cada mes, a lo largo de los 29 años*

In [ ]:
df_january=df[(df['mes'] == 'Enero')]
df_january.head(29)

      año    mes     mm  días
0    1991  Enero  190.0     7
12   1992  Enero  111.9     9
24   1993  Enero  122.5     6
36   1994  Enero   73.3    10
48   1995  Enero   49.3     5
60   1996  Enero   48.8    10
72   1997  Enero  164.2    10
84   1998  Enero  146.8     8
96   1999  Enero  188.3    15
108  2000  Enero  159.9     7
120  2001  Enero  337.5     9
132  2002  Enero  102.4    10
144  2003  Enero  183.1    10
156  2004  Enero  268.4    13
168  2005  Enero  150.2    11
180  2006  Enero  246.0    15
192  2007  Enero   95.3    17
204  2008  Enero  111.6    12
216  2009  Enero   23.9     9
228  2010  Enero  153.5    13
240  2011  Enero  165.0    13
252  2012  Enero   47.4     7
264  2013  Enero   52.5     7
276  2014  Enero  268.8    13
288  2015  Enero  184.4    14
300  2016  Enero   34.9     6
312  2017  Enero  108.8     8
324  2018  Enero   49.3     7
336  2019  Enero  134.8    12

*Acá logro hacer el promedio probando y viendo videos,y reducir y especificar en una solo una línea al código que me brinda el promedio. Uso de nuevo el atributo groupby, y luego llamamos a las columnas mes y milímetro para establecer con la función mean que quiero sacar el promedio de todo lo que se llame Enero*

In [ ]:
df.groupby('mes')['mm'].mean()['Enero']

134.1866666666667

*Probamos el mismo código por los meses restantes*

In [ ]:
df.groupby('mes')['mm'].mean()['Febrero']

129.56

In [ ]:
df.groupby('mes')['mm'].mean()['Marzo']

119.81333333333333

In [ ]:
df.groupby('mes')['mm'].mean()['Abril']

130.19666666666666

In [ ]:
df.groupby('mes')['mm'].mean()['Mayo']

93.40999999999998

In [ ]:
df.groupby('mes')['mm'].mean()['Junio']

61.85000000000001

In [ ]:
df.groupby('mes')['mm'].mean()['Julio']

76.98620689655172

In [ ]:
df.groupby('mes')['mm'].mean()['Agosto']

72.12413793103448

In [ ]:
df.groupby('mes')['mm'].mean()['Septiembre']

79.61724137931033

In [ ]:
df.groupby('mes')['mm'].mean()['Octubre']

122.8034482758621

In [ ]:
df.groupby('mes')['mm'].mean()['Noviembre']

119.6206896551724

In [23]:
df.groupby('mes')['mm'].mean()['Diciembre']

123.40689655172415

*Ahora tomaremos cada tres meses de los datos del promedio mensual para poder calcular los promedios estacionales*

In [197]:
verano=pd.DataFrame({"meses":["diciembre","enero","febrero"],"lluvia":["123.40689655172415","134.1866666666667","9129.56"]})

print(verano)

prom=(123.40689655172415+134.1866666666667+129.56)/3
print()
print("En verano el porcentaje de precipitaciones fue: "+str(prom))

       meses              lluvia
0  diciembre  123.40689655172415
1      enero   134.1866666666667
2    febrero             9129.56

En verano el porcentaje de precipitaciones fue: 129.05118773946361

In [198]:
otoño=pd.DataFrame({"meses":["marzo","abril","mayo"],"lluvia":["119.813333"," 130.196667","93.410000"]})

print(otoño)

prom=(119.813333+ 130.196667+93.410000)/3
print()
print("En otoño el porcentaje de precipitaciones fue: "+str(prom))

   meses       lluvia
0  marzo   119.813333
1  abril   130.196667
2   mayo    93.410000

En otoño el porcentaje de precipitaciones fue: 114.47333333333331

In [199]:
invierno=pd.DataFrame({"meses":["junio","julio","agosto"],"lluvia":["61.850000","76.986207","72.124138"]})

print(invierno)

prom=(61.850000+76.986207+72.124138)/3
print()
print("En invierno el porcentaje de precipitaciones fue: "+str(prom))

    meses     lluvia
0   junio  61.850000
1   julio  76.986207
2  agosto  72.124138

En invierno el porcentaje de precipitaciones fue: 70.320115

In [200]:
primavera=pd.DataFrame({"meses":["septiembre","octubre","noviembre"],"lluvia":["79.617241","122.803448","119.620690"]})

print(primavera)

prom=(79.617241+122.803448+119.620690)/3
print()
print("En primavera el porcentaje de precipitaciones fue: "+str(prom))

        meses      lluvia
0  septiembre   79.617241
1     octubre  122.803448
2   noviembre  119.620690

En primavera el porcentaje de precipitaciones fue: 107.34712633333334

**Temperaturas**

*Cargo los datos de temperatura en otro dataframe para poder hacer las operaciones de promedios con sus datos*

In [109]:
df2=pd.read_csv('/content/drive/My Drive/Colab Notebooks/historico_temperaturas.csv')

In [110]:
df2.head()

    año      mes  máxima  mínima  media
0  1991    Enero    28.4    19.8  24.10
1  1991  Febrero    27.8    17.8  22.80
2  1991    Marzo    27.6    18.4  23.00
3  1991    Abril    22.4    13.6  18.00
4  1991     Mayo    20.7    12.2  16.45

*Saco el promedio anual desde 1991 hasta los datos conseguidos de 2020, utilizando la media de temperaturas* **texto en negrita**

In [111]:
temperaturas=df2['media']
temperaturas.groupby(df2.index//12).mean()

0     17.941667
1     17.829167
2     17.829167
3     18.525000
4     18.175000
5     18.537500
6     18.862500
7     17.700000
8     17.925000
9     17.958333
10    18.375000
11    18.258333
12    18.004167
13    18.445833
14    18.250000
15    18.529167
16    17.683333
17    19.033333
18    18.620417
19    18.437500
20    18.287500
21    18.700000
22    18.529167
23    18.608333
24    18.862500
25    18.104167
26    19.079167
27    18.904167
28    18.883333
29    20.133333
Name: media, dtype: float64

*Ahora saco el promedio mensual de temperaturas*

In [ ]:
df2.groupby('mes')['media'].mean()['Enero']

25.11666666666667

In [ ]:
df2.groupby('mes')['media'].mean()['Febrero']

24.118333333333336

In [ ]:
df2.groupby('mes')['media'].mean()['Marzo']

22.32833333333334

In [ ]:
df2.groupby('mes')['media'].mean()['Abril']

18.65833333333334

In [ ]:
df2.groupby('mes')['media'].mean()['Mayo']

15.263333333333332

In [ ]:
df2.groupby('mes')['media'].mean()['Junio']

12.379999999999999

In [ ]:
df2.groupby('mes')['media'].mean()['Julio']

11.562068965517241

In [ ]:
df2.groupby('mes')['media'].mean()['Agosto']

13.356724137931034

In [ ]:
df2.groupby('mes')['media'].mean()['Septiembre']

15.151724137931033

In [ ]:
df2.groupby('mes')['media'].mean()['Octubre']

17.96551724137931

In [ ]:
df2.groupby('mes')['media'].mean()['Noviembre']

20.968965517241383

In [ ]:
df2.groupby('mes')['media'].mean()['Diciembre']

23.73275862068966

*Ahora sacaremos los promedios estacionales basados en los mensuales generales*

In [195]:
verano=pd.DataFrame({"meses":["diciembre","enero","febrero"],"temperatura":["23.732759","25.116667","24.118333"]})

print(verano)

prom=(23.732759+25.116667+24.118333)/3
print()
print("En verano el porcentaje de temperaturas fue: "+str(prom))

       meses temperatura
0  diciembre   23.732759
1      enero   25.116667
2    febrero   24.118333

En verano el porcentaje de temperaturas fue: 24.322586333333334

In [194]:
otoño=pd.DataFrame({"meses":["marzo","abril","mayo"],"lluvia":["22.328333","18.658333","15.263333"]})

print(otoño)

prom=(22.328333+18.658333+15.263333)/3
print()
print("En otoño el porcentaje de temperaturas fue: "+str(prom))

   meses     lluvia
0  marzo  22.328333
1  abril  18.658333
2   mayo  15.263333

En otoño el porcentaje de temperaturas fue: 18.749999666666668

In [202]:
invierno=pd.DataFrame({"meses":["junio","julio","agosto"],"lluvia":["12.380000","11.562069","13.356724"]})

print(invierno)

prom=(12.380000+11.562069+13.356724)/3
print()
print("En invierno el porcentaje de temperaturas fue: "+str(prom))

    meses     lluvia
0   junio  12.380000
1   julio  11.562069
2  agosto  13.356724

En invierno el porcentaje de temperaturas fue: 12.432931000000002

In [196]:
primavera=pd.DataFrame({"meses":["septiembre","octubre","noviembre"],"lluvia":["15.151724","17.965517","20.968966"]})

print(primavera)

prom=(15.151724+17.965517+20.968966)/3
print()
print("En primavera el porcentaje de temperaturas fue: "+str(prom))

        meses     lluvia
0  septiembre  15.151724
1     octubre  17.965517
2   noviembre  20.968966

En primavera el porcentaje de temperaturas fue: 18.028735666666666

**Viento**

*Cargo los datos de velocidad del viento en otro dataframe para poder hacer las operaciones de promedios con sus datos*

In [131]:
df3=pd.read_csv('/content/drive/My Drive/Colab Notebooks/historico_velocidad_maxima_viento.csv', encoding='iso-8859-1')

*En la siguiente línea de código me tiraba el error UnicodeDecodeError: 'utf-8' codec can't decode byte, asi que busque en foros y encontre que debía modificar el encoding*

In [116]:
df3.head()

    año      mes  nudos  km/h
0  1991    Enero     38    70
1  1991  Febrero     19    35
2  1991    Marzo     32    59
3  1991    Abril     40    74
4  1991     Mayo     26    48

*Saco el promedio anual de velocidad del viento utilizando la columna kilometros por hora*

In [ ]:
vientos=df3['km/h']
vientos.groupby(df3.index//12).mean()

0     60.083333
1     67.750000
2     64.500000
3     66.916667
4     53.083333
5     69.166667
6     62.666667
7     56.500000
8     55.000000
9     48.250000
10    56.083333
11    50.750000
12    49.916667
13    46.583333
14    48.416667
15    46.833333
16    48.000000
17    44.416667
18    41.750000
19    42.833333
20    55.833333
21    56.750000
22    55.833333
23    57.083333
24    42.916667
25    50.000000
26    59.166667
27    53.666667
28    54.500000
29    53.750000
Name: km/h, dtype: float64

*Ahora sigo con los promedios mensuales generales*

In [ ]:
df3.groupby('mes')['km/h'].mean()['Enero']

61.96666666666667

In [ ]:
df3.groupby('mes')['km/h'].mean()['Febrero']

57.0

In [ ]:
df3.groupby('mes')['km/h'].mean()['Marzo']

55.4

In [ ]:
df3.groupby('mes')['km/h'].mean()['Abril']

53.46666666666667

In [ ]:
df3.groupby('mes')['km/h'].mean()['Mayo']

45.666666666666664

In [ ]:
df3.groupby('mes')['km/h'].mean()['Junio']

48.96666666666667

In [ ]:
df3.groupby('mes')['km/h'].mean()['Julio']

45.4

In [ ]:
df3.groupby('mes')['km/h'].mean()['Agosto']

52.86666666666667

In [ ]:
df3.groupby('mes')['km/h'].mean()['Septiembre']

51.206896551724135

In [132]:
df3.groupby('mes')['km/h'].mean()['Octubre']

57.51724137931034

In [ ]:
df3.groupby('mes')['km/h'].mean()['Noviembre']

58.724137931034484

In [ ]:
df3.groupby('mes')['km/h'].mean()['Diciembre']

59.827586206896555

*Ahora saco los promedios estacionales*

In [204]:
verano=pd.DataFrame({"meses":["diciembre","enero","febrero"],"temperatura":["59.827586","61.966667","57.000000"]})

print(verano)

prom=(59.827586+61.966667+57.000000)/3
print()
print("En verano el porcentaje de velocidad de los vientos fue: "+str(prom))

       meses temperatura
0  diciembre   59.827586
1      enero   61.966667
2    febrero   57.000000

En verano el porcentaje de velocidad de los vientos fue: 59.59808433333333

In [205]:
otoño=pd.DataFrame({"meses":["marzo","abril","mayo"],"lluvia":["55.400000","53.466667","45.666667"]})

print(otoño)

prom=(55.400000+53.466667+45.666667)/3
print()
print("En otoño el porcentaje de velocidad de los vientos fue: "+str(prom))

   meses     lluvia
0  marzo  55.400000
1  abril  53.466667
2   mayo  45.666667

En otoño el porcentaje de velocidad de los vientos fue: 51.51111133333333

In [206]:
invierno=pd.DataFrame({"meses":["junio","julio","agosto"],"lluvia":["48.966667","45.400000","52.866667"]})

print(invierno)

prom=(48.966667+45.400000+52.866667)/3
print()
print("En invierno el porcentaje de de velocidad de los vientos fue: "+str(prom))

    meses     lluvia
0   junio  48.966667
1   julio  45.400000
2  agosto  52.866667

En invierno el porcentaje de de velocidad de los vientos fue: 49.077778

In [207]:
primavera=pd.DataFrame({"meses":["septiembre","octubre","noviembre"],"lluvia":["51.206897","57.517241","58.724138"]})

print(primavera)

prom=(51.206897+57.517241+58.724138)/3
print()
print("En primavera el porcentaje de velocidad de los vientos fue: "+str(prom))

        meses     lluvia
0  septiembre  51.206897
1     octubre  57.517241
2   noviembre  58.724138

En primavera el porcentaje de velocidad de los vientos fue: 55.816092

*Ahora creo un dataframe con los valores de los promedios, primero lo convierto en un diccionario a cada promedio, ya que tienen filas distintas,y probando cargarlos todos juntos no se entienden visualmente*

**PRECIPITACIONES**

In [47]:
print('-----PRECIPITACIONES-----')

-----PRECIPITACIONES-----

In [88]:
precipitacionesxaños={
     'lluvia': {'1991':108.208333,'1992':101.583333,'1993':121.725000,'1994':86.425000,'1995':72.100000,'1996':76.791667,'1997':104.608333,'1998':84.783333,'1999':90.308333,'2000':136.291667,'2001':145.966667,'2002':135.150000,'2003':128.558333,'2004':90.658333,'2005':90.475000,'2006':106.775000,'2007':109.425000,'2008':60.175000,'2009':110.358333,'2010':112.616667,'2011':77.233333,'2012':137.550000,'2013':95.450000,'2014':165.283333,'2015':96.400000,'2016':102.000000,'2017':99.408333,'2018':122.741667,'2019':100.650000,'2020': 79.383333},
      }

In [151]:
from pandas import DataFrame
df4=pd.DataFrame(precipitacionesxaños)
print('---El Promedio Anual en cuanto a las precipitaciones, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df4)

---El Promedio Anual en cuanto a las precipitaciones, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


          lluvia
1991  108.208333
1992  101.583333
1993  121.725000
1994   86.425000
1995   72.100000
1996   76.791667
1997  104.608333
1998   84.783333
1999   90.308333
2000  136.291667
2001  145.966667
2002  135.150000
2003  128.558333
2004   90.658333
2005   90.475000
2006  106.775000
2007  109.425000
2008   60.175000
2009  110.358333
2010  112.616667
2011   77.233333
2012  137.550000
2013   95.450000
2014  165.283333
2015   96.400000
2016  102.000000
2017   99.408333
2018  122.741667
2019  100.650000
2020   79.383333

In [152]:
precipitacionesxmeses ={'lluvia':{'Enero':134.1866666666667,'Febrero':129.56,'Marzo':119.81333333333333,'Abril':130.19666666666666,'Mayo':93.40999999999998,'Junio':61.85000000000001,'Julio':76.98620689655172,'Agosto':72.12413793103448,'Septiembre':79.61724137931033,'Octubre':122.8034482758621,'Noviembre':119.6206896551724,'Diciembre':123.40689655172415}
   }

In [158]:
df5=pd.DataFrame(precipitacionesxmeses)
print('---El Promedio Mensual en cuanto a las precipitaciones, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df5)

---El Promedio Mensual en cuanto a las precipitaciones, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


                lluvia
Abril       130.196667
Agosto       72.124138
Diciembre   123.406897
Enero       134.186667
Febrero     129.560000
Julio        76.986207
Junio        61.850000
Marzo       119.813333
Mayo         93.410000
Noviembre   119.620690
Octubre     122.803448
Septiembre   79.617241

In [213]:
 precipitacionesxestación ={'lluvia':{'Verano':129.05118773946361,'Otoño':114.47333333333331,'Invierno':270.320115,'Primavera':107.34712633333334}
   }

In [214]:
df10=pd.DataFrame(precipitacionesxestación)
print('---El Promedio Por estación en cuanto a las precipitaciones, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df10)

---El Promedio Por estación en cuanto a las precipitaciones, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


               lluvia
Invierno   270.320115
Otoño      114.473333
Primavera  107.347126
Verano     129.051188

**TEMPERATURAS**

In [ ]:
print( )
print( )
print('-----TEMPERATURAS-----')

In [159]:
temperaturasxaño={'temperatura': {'1991':17.941667,'1992':17.829167,'1993':17.829167,'1994':18.525000,'1995':18.175000,'1996':18.537500,'1997':18.862500,'1998':17.700000,'1999':17.925000,'2000':17.958333,'2001':18.375000,'2002':18.258333,'2003':18.004167,'2004':18.445833,'2005':18.250000,'2006':18.529167,'2007':17.683333,'2008':19.033333,'2009':18.620417,'2010':18.437500,'2011':18.287500,'2012':18.700000,'2013':18.529167,'2014':18.608333,'2015':18.862500,'2016':18.104167,'2017':19.079167,'2018':18.904167,'2019':18.883333,'2020':20.133333},
      }

In [160]:
df6=pd.DataFrame(temperaturasxaño)
print('---El Promedio Anual en cuanto a las temperaturas, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df6)

---El Promedio Anual en cuanto a las temperaturas, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


      temperatura
1991    17.941667
1992    17.829167
1993    17.829167
1994    18.525000
1995    18.175000
1996    18.537500
1997    18.862500
1998    17.700000
1999    17.925000
2000    17.958333
2001    18.375000
2002    18.258333
2003    18.004167
2004    18.445833
2005    18.250000
2006    18.529167
2007    17.683333
2008    19.033333
2009    18.620417
2010    18.437500
2011    18.287500
2012    18.700000
2013    18.529167
2014    18.608333
2015    18.862500
2016    18.104167
2017    19.079167
2018    18.904167
2019    18.883333
2020    20.133333

In [161]:
temperaturasxmes={'temperatura': {'Enero':25.11666666666667,'Febrero':24.118333333333336,'Marzo':22.32833333333334,'Abril':18.65833333333334,'Mayo':15.263333333333332,'Junio':12.379999999999999,'Julio':11.562068965517241,'Agosto':13.356724137931034,'Septiembre':15.151724137931033,'Octubre':17.96551724137931,'Noviembre':20.968965517241383,'Diciembre':23.73275862068966}
   }

In [162]:
df7=pd.DataFrame(temperaturasxmes)
print('---El Promedio Mensual en cuanto a las temperaturas, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df7)

---El Promedio Mensual en cuanto a las temperaturas, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


            temperatura
Abril         18.658333
Agosto        13.356724
Diciembre     23.732759
Enero         25.116667
Febrero       24.118333
Julio         11.562069
Junio         12.380000
Marzo         22.328333
Mayo          15.263333
Noviembre     20.968966
Octubre       17.965517
Septiembre    15.151724

In [210]:
 temperaturasxestación ={'temperaturas':{'Verano':24.322586333333334,'Otoño':8.749999666666668,'Invierno':12.432931000000002,'Primavera':18.028735666666666}
   }

In [212]:
df11=pd.DataFrame(temperaturasxestación)
print('---El Promedio Por estación en cuanto a las temperaturas, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df11)

---El Promedio Por estación en cuanto a las temperaturas, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


           temperaturas
Invierno      12.432931
Otoño          8.750000
Primavera     18.028736
Verano        24.322586

**VIENTO**

In [ ]:
print( )
print( )
print('-----VIENTO-----')

In [209]:
vientosxaño={'vientos': {'1991':60.083333,'1992':67.750000,'1993':64.500000,'1994':66.916667,'1995':53.083333,'1996':69.166667,'1997':62.666667,'1998':56.500000,'1999':55.000000,'2000':48.250000,'2001':56.083333,'2002':50.750000,'2003':49.916667,'2004':46.583333,'2005':48.416667,'2006':46.833333,'2007':48.000000,'2008':44.416667,'2009':41.750000,'2010':42.833333,'2011':55.833333,'2012':56.750000,'2013':55.833333,'2014':57.083333,'2015':42.916667,'2016':50.000000,'2017':59.166667,'2018':53.666667,'2019':54.500000,'2020':53.750000},
 }

In [166]:
df8=pd.DataFrame(vientosxaño)
print('---El Promedio Anual en cuanto a la velocidad del viento, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df8)

---El Promedio Anual en cuanto a la velocidad del viento, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


        vientos
1991  60.083333
1992  67.750000
1993  64.500000
1994  66.916667
1995  53.083333
1996  69.166667
1997  62.666667
1998  56.500000
1999  55.000000
2000  48.250000
2001  56.083333
2002  50.750000
2003  49.916667
2004  46.583333
2005  48.416667
2006  46.833333
2007  48.000000
2008  44.416667
2009  41.750000
2010  42.833333
2011  55.833333
2012  56.750000
2013  55.833333
2014  57.083333
2015  42.916667
2016  50.000000
2017  59.166667
2018  53.666667
2019  54.500000
2020  53.750000

In [167]:
vientosxmes={'vientos': {'Enero':61.96666666666667,'Febrero':57.0,'Marzo':55.4,'Abril':53.46666666666667,'Mayo':45.666666666666664,'Junio':48.96666666666667,'Julio':45.4,'Agosto':52.86666666666667,'Septiembre':51.206896551724135,'Octubre':57.51724137931034,'Noviembre':58.724137931034484,'Diciembre':59.827586206896555}
  }

In [168]:
df9=pd.DataFrame(vientosxmes)
print('---El Promedio Mensual en cuanto a la velocidad del viento, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df9)

---El Promedio Mensual en cuanto a la velocidad del viento, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


              vientos
Abril       53.466667
Agosto      52.866667
Diciembre   59.827586
Enero       61.966667
Febrero     57.000000
Julio       45.400000
Junio       48.966667
Marzo       55.400000
Mayo        45.666667
Noviembre   58.724138
Octubre     57.517241
Septiembre  51.206897

In [208]:
vientosxestación ={'vientos':{'Verano':59.59808433333333,'Otoño':51.51111133333333,'Invierno':49.077778,'Primavera':55.816092}
   }

In [211]:
df12=pd.DataFrame(vientosxestación)
print('---El Promedio Por estación en cuanto a la velocidad del viento, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro--- ')
print( )
print( )
print(df12)

---El Promedio Por estación en cuanto a la velocidad del viento, desde 1991 hasta los datos registrados en 2020 se muestra en el siguiente cuadro---


             vientos
Invierno   49.077778
Otoño      51.511111
Primavera  55.816092
Verano     59.598084

**---COMPARACIONES---**

*Ahora intentaremos combinar los data frame para que se visualicen los datos de los promedios en un mismo dataframe*

In [171]:
horizontal_stack= pd.concat([df4,df6,df8], axis=1)
horizontal_stack.head()

          lluvia  temperatura    vientos
1991  108.208333    17.941667  60.083333
1992  101.583333    17.829167  67.750000
1993  121.725000    17.829167  64.500000
1994   86.425000    18.525000  66.916667
1995   72.100000    18.175000  53.083333

In [106]:
print( )
print( )
print('El siguiente dataframe contiene todos los promedios anuales. La primera columna corresponde a precipitaciones, la segunda a temperaturas y la tercera a la velocidad de los vientos: ')
print( )
print( )
print(horizontal_stack)

El siguiente dataframe contiene todos los promedios anuales. La primera columna corresponde a precipitaciones, la segunda a temperaturas y la tercera a la velocidad de los vientos:


                lluvia  temperatura    vientos
Abril       130.196667    18.658333  53.466667
Agosto       72.124138    13.356724  52.866667
Diciembre   123.406897    23.732759  59.827586
Enero       134.186667    25.116667  61.966667
Febrero     129.560000    24.118333  57.000000
Julio        76.986207    11.562069  45.400000
Junio        61.850000    12.380000  48.966667
Marzo       119.813333    22.328333  55.400000
Mayo         93.410000    15.263333  45.666667
Noviembre   119.620690    20.968966  58.724138
Octubre     122.803448    17.965517  57.517241
Septiembre   79.617241    15.151724  51.206897

In [179]:
df13=horizontal_stack

*Ahora hago lo mismo para los promedios mensuales desde 1991 hasta 2020*

In [186]:
horizontal_stack1 = pd.concat([df5,df7,df9], axis=1)
horizontal_stack1.head(12)

                lluvia  temperatura    vientos
Abril       130.196667    18.658333  53.466667
Agosto       72.124138    13.356724  52.866667
Diciembre   123.406897    23.732759  59.827586
Enero       134.186667    25.116667  61.966667
Febrero     129.560000    24.118333  57.000000
Julio        76.986207    11.562069  45.400000
Junio        61.850000    12.380000  48.966667
Marzo       119.813333    22.328333  55.400000
Mayo         93.410000    15.263333  45.666667
Noviembre   119.620690    20.968966  58.724138
Octubre     122.803448    17.965517  57.517241
Septiembre   79.617241    15.151724  51.206897

In [105]:
print( )
print( )
print('El siguiente dataframe contiene todos los promedios mensuales. La primera columna corresponde a precipitaciones, la segunda a temperaturas y la tercera a la velocidad de los vientos: ')
print( )
print( )
print(horizontal_stack1)

El siguiente dataframe contiene todos los promedios mensuales. La primera columna corresponde a precipitaciones, la segunda a temperaturas y la tercera a la velocidad de los vientos:


                lluvia  temperatura    vientos
Abril       130.196667    18.658333  53.466667
Agosto       72.124138    13.356724  52.866667
Diciembre   123.406897    23.732759  59.827586
Enero       134.186667    25.116667  61.966667
Febrero     129.560000    24.118333  57.000000
Julio        76.986207    11.562069  45.400000
Junio        61.850000    12.380000  48.966667
Marzo       119.813333    22.328333  55.400000
Mayo         93.410000    15.263333  45.666667
Noviembre   119.620690    20.968966  58.724138
Octubre     122.803448    17.965517  57.517241
Septiembre   79.617241    15.151724  51.206897

In [180]:
df14=horizontal_stack1

In [218]:
horizontal_stack2= pd.concat([df10,df11,df12], axis=1)
horizontal_stack2.head()

               lluvia  temperaturas    vientos
Invierno   270.320115     12.432931  49.077778
Otoño      114.473333      8.750000  51.511111
Primavera  107.347126     18.028736  55.816092
Verano     129.051188     24.322586  59.598084

In [220]:
df15=horizontal_stack2

**CONCLUSIONES**

Como aún no cursamos estadística, un análisis detallado de tendencias con los nulos conocimientos actuales no es posible, pero si es posible hacer algunas observaciones sobre los datos recopilados en los resultados de los promedios.

Con respecto a los **promedios anuales**, viendo las **precipitaciones** se observa una gran variabilidad a lo largo del período analizado. El año 2012 tiene el mayor promedio de precipitaciones, mientras que el menor corresponde al año 2008. En cuanto a las **temperaturas**, es bastante estable, la diferencia anual varìa en muy pocos grados. El mayor valor registrado en el cuadro es el 2020, pero hay que tener en cuenta que en el archivo csv Histórico de Precipitaciones solo estàn cargados los datos hasta junio. Los valores de las **velocidades de los vientos** son menos estables que las temperaturas, pero más que las precipitaciones. El año donde el viento alcanzó su mayor velocidad promedio anual fue 1996 y el menor 2009.

Si miramos los **promedios mensuales**, el mes promedio a lo largo de 30 años con mayor **lluvia** corresponde a Enero, y el mes con menor lluvia es Junio. A su vez, Enero tiene también los valores más altos de **temperatura**, y el que tiene el menor es Julio. Mirando lo que pasaba con la temperatura anual, no puedo evitar notar que el promedio mensual general tiene mayor variabilidad en sus valores con respecto a lo que sucede por año. Observando los **vientos**, tambièn son estables, el mes con la mayor velocidad promedio es Julio y el de la menor es Diciembre.

Los **promedios estacionales** analizados, denotan que la estación con menor **lluvia** es el Invierno, mientras que la de mayor lluvia es el Verano. Así mismo, el mayor valor de **temperaturas** es el Verano, y el valor mínimo pertenece al Otoño. En Verano tambièn es cuando hat mayor**velocidad en los vientos**, siendo el Invierno la estaciòn con menor velocidad.